@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 70%; height: 70%">
    <img src="https://media.tenor.com/FLfJEQ0Q8wQAAAAM/rigby-freaky.gif" alt="Gato Inteligente" style="width: 70%; height: 70%; object-fit: cover;" />
</div>
